<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TalentBookingManagementDB"
			 connectionString="Data Source=citizen.manukautech.info,6306;Initial Catalog=S601_LetItGo_Project;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
